
.livesearchitems {
    
}

.livesearchitem-content {
    border: 1px solid #DDDDDD;
    padding: 10px;   
}

.livesearchitem-content.active{
    background-color: #EFEFEF;
}

.livesearchitem {
    
}

.datetimepicker {
    width: 230px;
}